<div>
  <h1 class="font-bold text-4xl">Turbochat Home</h1>
</div>

<% if current_user %>
<%= link_to "Start Chatting", rooms_path, class:"bg-fuchsia-500 hover:bg-fuchsia-700 text-white font-bold py-2 px-4 rounded w-36 text-center m-1" %>
<%= button_to "Logout", destroy_user_session_path, method: :delete, class:"bg-fuchsia-500 hover:bg-fuchsia-700 text-white font-bold py-2 px-4 rounded w-36 text-center m-1" %>
<% else%>
<%= link_to "Login", new_user_session_path, class:"bg-fuchsia-500 hover:bg-fuchsia-700 text-white font-bold py-2 px-4 rounded w-36 text-center m-1" %>
<%= link_to "Sign Up", new_user_registration_path, class:"bg-fuchsia-500 hover:bg-fuchsia-700 text-white font-bold py-2 px-4 rounded w-36 text-center m-1" %>
<% end %>