<div class="container">
  <h5 class="text-2xl font-bold"><%= current_user.email %></h5>
  <h4 class="text-2xl font-semibold">Users</h4>
  <%= render @users %>
  <h4 class="text-2xl font-semibold">Rooms</h4>
  <%= render @rooms %>
</div>